.grid-container {
    display: grid;
    height: 460px;
    width: 680px;
    margin: auto;
    border-style: 10px solid #000000;
    grid-template-columns: 100px 100px 100px 100px 100px 100px;
    grid-template-rows:100px 100px 100px 100px;
    /* grid-auto-rows: 200px; */
    /* grid-auto-rows: minmax(150px,auto); */
    grid-gap: 10px;
    padding: 10px;
    justify-content:center;
    /* align-content: 100vh; */
    background-color: #2196F3
    

}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }

